.background_container {
  padding: 0 0.5rem;
  max-width: 900px;
  margin: 0 auto;
}

.background_para_wrapper {
  display: flex;
  flex-direction: column;
}

.background_paragraph {
  line-height: 1.7;
}

.paragraph_icon_life {
  background-image: url('../../assets/world-small.svg');
}

.paragraph_icon_career {
  background-image: url('../../assets/resume-small.svg');
}

.paragraph_icon_hobbies {
  background-image: url('../../assets/photographer-small.svg');
}

.icon {
  width: 150px;
  height: 100px;
  margin: 0 auto;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .background_para_wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 4rem;
  }

  .background_paragraph {
    grid-column-start: 2;
    grid-column-end: 5;
    margin-left: 0.5rem;
  }

  .background_para_wrapper:nth-child(even) .background_paragraph {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 2rem;
  }

  .background_para_wrapper:nth-child(even) .icon {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
  }
}
