:root {
  --purpleDark: #2f2e41;
  --white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}
